h1 {
    text-align: center;
    color: rgba(255, 255, 255, .8);
    font-size: 2rem;
    margin: 75px 0px 10px 0;
    font-family: 'Chakra Petch', sans-serif;
}

@media (min-width: 568px) {
    h1 {
        font-size: 3rem;
    }
}

header:not(.scrolled) .header-overlay {
    background: rgba(255,255,255,0);
    box-shadow: 0 2px 5px rgb(0 0 0 / 0%);
    transition: all .6s ease-in-out;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.scrolled {
    width: 100%;
    background-color: var(--dark-green);
    box-shadow: 0 2px 5px rgb(0 0 0 / 50%);
    transition: all .4s ease-in-out;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.scrolled + .content {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
}
header.scrolled .logo-link, header.scrolled .logo-nav-item, header.scrolled .logo-link img {
    max-width: 45px;
    opacity: 1;
}

@media (min-width: 568px) {
    header.scrolled .logo-link, header.scrolled .logo-nav-item, header.scrolled .logo-link img {
        max-width: 50px;
    }
}

@media (min-width: 768px) {
    header.scrolled .logo-link, header.scrolled .logo-nav-item, header.scrolled .logo-link img {
        max-width: 65px;
    }
}

header:not(.scrolled) .logo-nav-item {
    margin: 0px;
}

@keyframes logo-link {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.scrollIn .scroll-content {
    opacity: 0;
    transition: transform .6s ease-in-out, opacity .7s ease-in-out;
    transition-delay: .1s;
    overflow-y: hidden;
    transform: translateY(50px) scale(.97);
}
.scrollIn.visible .scroll-content {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.parallax-mirror, .parallax-slider {
    height: 100vh;
    transform: none;
    position: relative;
}


  /* The element to apply the animation to */
.logo-link {
    animation-name: logo-link;
    animation-duration: .4s;
}

.hero {
    background-color: transparent;
    background-position: 65% center;
    z-index: 0;
    height: 100vh;
    min-height: 100vh;
}

.hero .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}


.body-logo, .body-logo-link {
    width: 100%;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    opacity: .6;
    transition: opacity .4s cubic-bezier(0.34, 0.32, 0.58, 1), width .5s ease-in-out, max-width .5s ease-in-out;
}

@media (min-width: 768px) {
    .body-logo, .body-logo-link {
        max-width: 200px;
    }
}

.body-logo {
    max-width: 300px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.body-logo-innerTop {
    display: flex;
    justify-content: center;
    align-items: center;
}
section.s-scrolled .body-logo, section.s-scrolled .body-logo-link {
    max-width: 0px;
    opacity: 0;
    transition: all .7s ease-in-out;
}
.body-logo:hover, .body-logo-link:hover, .body-logo:hover img {
    opacity: .9 !important;
}
.body-logo h1, .body-logo-innerBottom p {
    color: rgb(255, 255, 255, .6);
    line-height: 1;
}
.body-logo:hover h1, .body-logo-innerBottom p {
    color: rgb(255, 255, 255, .9) !important;
}
.body-logo h1:hover .body-logo{ 
    opacity: .9;
}
section.s-scrolled .body-logo h1, section.s-scrolled .body-logo-innerBottom p {
    font-size: 0em;
    opacity: 0;
    min-width: 0px;
    transition: all .7s ease-in-out;
} 
section:not(.s-scrolled) .body-logo h1 {
    font-size: 6rem;
    opacity: 1;
    transition: all .5s ease-in-out;
}
section:not(.s-scrolled) .body-logo-innerBottom p  {
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 1;
    transition: all .5s ease-in-out;
} 
.body-logo-innerBottom p {
    text-align: center;
    min-width: 150px;
    transition: all .5s ease-in-out;
}
.content-container-inner {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
@media (min-width: 992px) {
    .content-container-inner {
        width: 60%;
    }
}
.introduction {
    text-align: left;
}
.body-logo img {
    filter: brightness(0) invert(1);
}



/* JUMP */
.jumpFrom {
    position: absolute;
    bottom: 2%;
    font-size: 32px;
    color:rgb(255, 255, 255, .6);
}
.jumpFrom:visited, .jumpFrom:focus, .jumpFrom:active {
    color: var(--light-color);
}
#jumpTo {
    transform: translateY(-70px);
}

@media (min-width: 992px) {
    #jumpTo {
        transform: translateY(-76px);
    }
}

.jump-item {
    transform: translateY(-70px);
}

@media (min-width: 992px) {
    .jump-item {
        transform: translateY(-76px);
    }
}




@media (min-width: 992px) and (max-width: 1199px) {
    .member {
        display: none;
    }
}
.pt-cards .scroll-content {
    transition-delay: .3s;
}

.about {
    border-top: 2px solid var(--medium-green);
    text-align: center;
}
.about .content-container {
    padding-top: 100px;
}




/* TAB SECTION */

.divider .content-container-inner {
    width: 100%;
}
.technology-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0px 20px 0px;
}
@media (min-width: 992px) {
    .technology-container {
        flex-direction: row;
        align-items: flex-start;
    }
    .divider .content-container-inner {
        width: 90%;
    }
}